{% extends "autos/base.html" %} 

{% block title %} Autos {% endblock %} 

{% block body %}

<h1>Autos</h1>
<a class="btn" href="{% url 'crear_auto' %}">Crear auto</a>
<p>Lista de autos disponibles:</p>
<ul class="box-cars">
    <div class="car-item">
        {% for auto in autos %}
        <li class="flex-1 text-2xl">Modelo: {{ auto.marca }} - {{ auto.modelo }}</li>
        <li>Precio: ${{ auto.precio }}</li>
        <li>Año: {{ auto.anio }}</li>
        {% if auto.imagen %}
            <img src="{{ auto.imagen.url }}" alt="Imagen del auto"/>
        {% else %}
            <p>Imagen no disponible</p>
        {% endif %}
        <li>Vendedor: {{ auto.vendedor.all|join:", " }}</li>
        <a class="btn btn-eliminar" href="{% url 'eliminar_auto' auto.id %}"> Eliminar </a>
        <a class="btn" href="{% url 'editar_auto' auto.id %}"> Editar </a>
        <hr />
        {% endfor %}
    </div>
</ul>
{% endblock %}
