{% extends "autos/base.html" %} 

{% block title %} Autos {% endblock %} 

{% block body %}

<h1>Autos</h1>
<p>Lista de autos disponibles:</p>
<a href="{% url 'crear_auto' %}">Crear auto</a>
<ul>
    {% for auto in autos %}
    <li>Modelo: {{ auto.marca }} - {{ auto.modelo }}</li>
    <li>Precio: {{ auto.precio }}</li>
    <li>Año: {{ auto.anio }}</li>
    {% if auto.imagen %}
        <img src="{{ auto.imagen.url }}" alt="Imagen del auto" width="200" />
    {% else %}
        <p>Imagen no disponible</p>
    {% endif %}
    <li>Vendedor: {{ auto.vendedor.all|join:", " }}</li>
    <a href="{% url 'eliminar_auto' auto.id %}"> Eliminar </a>
    <a href="{% url 'editar_auto' auto.id %}"> Editar </a>
    <hr />
    <!-- Separador entre autos -->
    {% endfor %}
</ul>
{% endblock %}
