{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'autos/styles.css' %}">
    <title>{% block title %}App{% endblock %}</title>
    {% tailwind_css %}
</head>

<navbar class="navbar">
    <div class="navbar-left">
        <h2 class="navbar-name">
            Concesionaria
        </h2>
    </div>

    <div class="navbar-links">
        <a href="{% url 'inicio' %}">Inicio</a>
        <a href="{% url 'vendedores' %}">Vendedores</a>
        <a href="{% url 'autos' %}">Autos</a>
        {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post">
                {%csrf_token%}
                <a> {{ user.username }}</a>
                <button type="submit">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>
</navbar>

<body>
    
    {% block body %}

    {% endblock %}

</body>
</html>