{% extends "autos/base.html" %} 

{% block title %} Autos {% endblock %} 

{% block body %}

<h1>Vendedores</h1>
<a class="btn" href="{% url 'crear_vendedor' %}">Añadir vendedor</a>
<p>Lista de vendedores:</p>
<ul class="box-cars">
    <div class="car-item">
        {% for v in vendedores %}
        <li>Nombre: {{ v.nombre }}</li>
        <li>Correo: {{ v.correo }}</li>
        <li>Teléfono: {{ v.telefono }}</li>
        {% if v.activo %}
            <a class="btn btn-eliminar" href="{% url 'eliminar_vendedor' v.id %}"> Dar de baja </a>
            <a class="btn" href="{% url 'editar_vendedor' v.id %}"> Editar </a>
        {% else %}
            <p>VENDEDOR DADO DE BAJA</p>
        {% endif %}
        <hr />
        {% endfor %}
    </div>
</ul>
{% endblock %}
